
.category-filter {
  .category-filter__item{
    margin-top: 1em;
    &:first-of-type {
      margin-top: 0;
    }
  }
}
.icon-info-box {
  .icon-info-box__icon {
    margin-bottom: 1em;
    @media(min-width: 640px) {
      min-width: 3em;
      source, img, svg {
        width: 100%;
      }
    }
    @media(min-width: 1600px) {
      margin-bottom: 0;
    }
  }
  @media (min-width: 640px) {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-content: stretch;
    align-items: flex-start;
    .icon-info-box__description {
      text-align: left;
      padding-left: 1.5em;
    }
  }
  @media (min-width: 1600px) {
    align-items: center;
  }
}

.add-box {
  font-weight: 600;
  vertical-align: middle;
  display: inline-block;
  width: 100%;
  &:before {
    content: "+";
    font-size: 1.125em;
    font-weight: 800;
    vertical-align: middle;
    display: inline-block;
    margin-right: 0.5em;
  }
  &:last-of-type {
    margin-bottom: 0;
  }
  @media (min-width: 640px) {
    width: auto;
    margin-left: 2em;
    &:first-of-type {
      margin-left: 0;
    }
  }
}

.accordion-item {
  .accordion-item__header {
    font-size: $global-font-size;
    cursor: pointer;
    padding: $global-small-gutter;
    background-color: #fff;
    border:$global-border-width solid $global-muted-background;
    .h4 {
      margin-bottom: 1rem;
    }
    p {
      margin: 1rem 0;
      @media (min-width: 1600px) {
        margin-bottom: 0;
      }
    }
    .accordion-item__header_right-box {
      @media (min-width: 640px) {
        text-align: left;
        padding-left: 4.5em;
      }
      @media (min-width: 1600px) {
        text-align: right;
        padding-left: 0;
        min-width: 18em;
        width: 18em;
      }
      @media (min-width: 1920px) {
        min-width: 26em;
        width: 26em;
      }
    }
    @media (min-width: 1600px) {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: space-between;
      align-content: stretch;
      align-items: center;
    }
  }
  .uk-accordion-content {
    padding: 2.5em $global-small-gutter;
    margin-top: 0;
    background-color: #fff;
    transition: background-color 0.8s linear;
    .uk-accordion-content__title {
      font-size: $efsol-theme-h2-font-size;
    }
    .uk-accordion-content__subtitle {
      font-weight: 500;
      font-size: $efsol-theme-h5-font-size;
    }
    .form {
      padding-top: 2em;
    }
  }
  &.uk-open {
    .accordion-item__header {
      border-color: $bg_active;
      background-color: $bg_active;
      .icon_base-fill {
        fill: #fff;
      }
    }
    .uk-accordion-content {
      background-color: $global-muted-background;
    }
  }

}