.main {
  display: flex;
  width: 100%;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-content: stretch;
  align-items: center;
  min-height: 100vh;
  box-sizing: border-box;
  @media (min-width: 960px) {
    padding-top: 64px;
    display: block;
  }
  @media (min-width: 2560px) {
    max-width: 2560px;
    margin: 0 auto;
  }
}

.site-grid {
  width: 100%;
  position: relative;
  @media (min-width:960px) {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
    grid-auto-rows: 1fr;
    grid-template-columns: 27% 73%;
    grid-template-rows: 1fr auto;
    gap: 0 0;
    grid-template-areas:
    "left-column site-content"
    "footer footer";
    min-height: calc(100vh - 64px);
  }
  @media (min-width:1200px) {
    grid-template-columns: 22% 78%;
  }
  @media (min-width:1400px) {
    grid-template-columns: 20% 80%;
  }
  @media (min-width:1920px) {
    grid-template-columns: 18% 82%;
  }
}

.left-column {
  @media (min-width: 960px) {
    padding: 40px 0;
    grid-area: left-column;
    padding: 56px 0;
  }
  .uk-offcanvas-bar {
    padding: 40px 0;
    .uk-offcanvas-close {
      top: 16px;
      right: 16px;
    }
  }
}

.site-content {
  padding: 40px 16px;
  @media (min-width: 960px) {
    grid-area: site-content;
    padding: 56px 24px;
  }
}

.section + .section {
  margin-top: 40px;
}