body {
  background-color: $bg_white;
}
* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  box-sizing: border-box;
}
h1,.h1 {
  font-size: $efsol-theme-h1-font-size-s;
  @media (min-width: 960px) {
    font-size: $efsol-theme-h1-font-size;
  }
}
h2,.h2 {
  font-size: $efsol-theme-h2-font-size-s;
  @media (min-width: 960px) {
    font-size: $efsol-theme-h2-font-size;
  }
}
h3,.h3 {
  font-size: $efsol-theme-h3-font-size-s;
  @media (min-width: 960px) {
    font-size: $efsol-theme-h3-font-size;
  }
}
h4,.h4 {
  font-size: $efsol-theme-h4-font-size-s;
  @media (min-width: 960px) {
    font-size: $efsol-theme-h4-font-size;
  }
}
h5,.h5 {
  font-size: $efsol-theme-h5-font-size;
}
h6,.h6 {
  font-size: $efsol-theme-h6-font-size;
}
h1,.h1,
h6,.h6 {
  font-weight: 600;
  margin-bottom: 1em;
}
h2,.h2,
h3,.h3,
h4,.h4,
h5,.h5 {
  font-weight: 700;
  margin-bottom: 1em;
}
article a {
  text-decoration: underline;
  &:hover {
    text-decoration: none;
  }
}
._bg_yellow {
  background-color: $bg_yellow;
}
._bg_white {
  background-color: $bg_white;
  color: $global-color;
}
.uk-grid-divider._divider-muted>:not(.uk-first-column)::before {
border-color: #ededf7;
}
.vertical-divider {
  width: 2px;
  height: auto;
  margin: 0 auto;
  background: #ededf7;
}
.attention-block {
  padding: 2.5em 0;
  background-image: url("data:image/svg+xml,%3Csvg width='59' height='40' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M3 0H0v40h3V0zm5 0v40h4V0H8zm8 40V0h7v40h-7zM26 0v40h8V0h-8zm10 40V0h4.833v40H36zm4.833 0l17.5-20-17.5-20v40z' fill='%23FFD200'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: 0 center;
  .attention-block_content {
    padding: 0.5em 2em 0.5em 5em;
    min-height: 2.5em;
    & :first-child {
    margin-top: 0;
  }
    & :last-child {
      margin-bottom: 0;
    }
  }
}
._max-width_38em {
  max-width: 38em;
}
.uk-link-toggle:focus .uk-link,
.uk-link-toggle:hover .uk-link,
.uk-link:hover, a:hover {
  color: $efsol-theme-link-hover;
}
._title-line {
  position: relative;
  padding-bottom: 28px;
  &::after {
    content: "";
    display: block;
    height: 4px;
    background-color: $bg_yellow;
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 60px;
    margin-left: -30px;
    @media (min-width: 1200px) {
      width: 80px;
      margin-left: -40px;
    }
    @media (min-width: 1600px) {
      width: 100px;
      margin-left: -50px;
    }
  }
}

.icon-flexbox {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-content: stretch;
  align-items: center;
  picture {
    margin-right: 1.5em;
    width: 32px;
    min-width: 32px;
    height: 32px;
    vertical-align: middle;
    @media (min-width: 1920px) {
      margin-right: 2em;
    }
    span {
      width: auto;
      vertical-align: middle;
    }
  }
}

.logo {
  display: inline-block;
  .logo__img {
    height: 4em;
    width: auto;
    @media (min-width: 640px) {
      margin-left: 3.3em;
      height: 3.5em;
    }
    @media (min-width: 768px) {
      height: 3em;
    }
    @media (min-width: 960px) {
      margin-left: 0;
    }
  }
  &._big-logo {
    .logo__img {
      height: 70px;
      @media (min-width: 640px) {
        height: 76px;
      }
      @media (min-width: 960px)  {
        height: 90px;
      }
      @media (min-width: 1366px)  {
        height: 106px;
      }
      @media (min-width: 1600px)  {
        height: 120px;
      }
    }
  }
}

.informer-block {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-content: stretch;
  align-items: flex-start;
  .informer-block__title {
    font-weight: 600;
    margin-bottom: 1rem;
    @media (min-width: 1200px) {
      font-size: 1.25em;
    }
  }
  .informer-block__data {
    color: $global-muted-color;
    font-size: 1.75em;line-height: 1.2;
    @media (min-width: 375px) {
      font-size: 2em;
    }
    @media (min-width: 640px) {
      font-size: 2.5em;
    }
    @media (min-width: 1200px) {
      font-size: 3.5em;
    }
    strong {
      font-weight: 600;
    }
  }
}