body {
  background-color: $bg_white;
}
* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  box-sizing: border-box;
}
h1,.h1 {
  font-size: $efsol-theme-h1-font-size-s;
  @media (min-width: 960px) {
    font-size: $efsol-theme-h1-font-size;
  }
}
h2,.h2 {
  font-size: $efsol-theme-h2-font-size-s;
  @media (min-width: 960px) {
    font-size: $efsol-theme-h2-font-size;
  }
}
h3,.h3 {
  font-size: $efsol-theme-h3-font-size-s;
  @media (min-width: 960px) {
    font-size: $efsol-theme-h3-font-size;
  }
}
h4,.h4 {
  font-size: $efsol-theme-h4-font-size-s;
  @media (min-width: 960px) {
    font-size: $efsol-theme-h4-font-size;
  }
}
h5,.h5 {
  font-size: $efsol-theme-h5-font-size;
}
h6,.h6 {
  font-size: $efsol-theme-h6-font-size;
}
h1,.h1,
h6,.h6 {
  font-weight: 600;
  margin-bottom: 1em;
}
h2,.h2,
h3,.h3,
h4,.h4,
h5,.h5 {
  font-weight: 700;
  margin-bottom: 1em;
}
article a {
  text-decoration: underline;
  &:hover {
    text-decoration: none;
  }
}
._bg_yellow {
  background-color: $bg_yellow;
}
._title-line {
  position: relative;
  padding-bottom: 28px;
  &::after {
    content: "";
    display: block;
    height: 4px;
    background-color: $bg_yellow;
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 60px;
    margin-left: -30px;
    @media (min-width: 1200px) {
      width: 80px;
      margin-left: -40px;
    }
    @media (min-width: 1600px) {
      width: 100px;
      margin-left: -50px;
    }
  }
}
