.form-wrap {
  max-width: 78em;
  margin: 0 auto;
}
.form {
  label {
    font-weight: 600;
    margin-bottom: 0.5em;
    display: block;
    @media (min-width: 640px) {
      text-align: left;
    }
  }

  .uk-input {
    background: $bg_white !important;
    box-shadow: $global-medium-box-shadow;

    &:focus {
      background: $bg_white  !important;
    }

    @media (min-width: 1200px) {
      padding: 1em;
    }
  }

  .uk-textarea {
    background: $bg_white;
    box-shadow: $global-medium-box-shadow;
    padding-top: 0.5em;
    padding-bottom: 0.5em;

    &:focus {
      background-color: $bg_white;
    }

    @media (min-width: 1200px) {
      padding: 1em;
    }
  }
  .checkbox-style {
    font-weight: 400;
    input {
      width: 40px;
      height: 40px;
      background: $bg_white;
      margin-right: 1em;
      box-shadow: $global-medium-box-shadow;
      &.uk-checkbox:indeterminate {
        background: $bg_white;
      }
      &.uk-checkbox:checked {
        background-color: $bg_white;
        background-image: url(../img_sprite/icons/icons.svg#check);
        background-size: 25px auto;
        background-repeat: no-repeat;
        background-position: center;
      }

    }
  }


  .uk-select:focus {

  }

  .uk-input:invalid {
    //box-shadow: 0 0 2px 1px $global-danger-background;
  }
  .uk-input:focus:invalid {
    outline: none;
  }
  .uk-input:valid {
    box-shadow: none;
    background: $bg_white;
  }
  .uk-input:-webkit-autofill {
    -webkit-box-shadow: inset 0 0 0 50px #fff !important;
    -webkit-text-fill-color: $global-color !important;
    color: $global-color !important;
  }

  ::-webkit-input-placeholder {
    opacity: 0.6;
  }
  ::-moz-placeholder {
    opacity: 0.6;
  }
  :-moz-placeholder {
    opacity: 0.6;
  }
  :-ms-input-placeholder {
    opacity: 10.6;
  }
}
._bg_white {
  .form  {
    .uk-input, .uk-textarea, .checkbox-style .uk-checkbox {
      background: $global-muted-background !important;
      box-shadow: none;
      color: $global-color;
    }
    .uk-input:-webkit-autofill {
      -webkit-box-shadow: inset 0 0 0 50px $global-muted-background !important;
    }
    ::-webkit-input-placeholder {
      color: $global-color;
    }
    ::-moz-placeholder {
      color: $global-color;
    }
    :-moz-placeholder {
      color: $global-color;
    }
    :-ms-input-placeholder {
      color: $global-color;
    }
  }
}

.page-form {
  background: $global-muted-background;
  .main {
    padding: 0;
  }
}
.start-form {
  padding: 2em 0;
  max-width: 500px;
  margin: 0 auto;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: stretch;
  align-items: center;
  text-align: center;

  .logo__img {
    margin-left: 0.5em;
    @media (min-width: 640px) {
      margin-left: 1em;
    }
    @media (min-width: 960px) {
      margin-left: 1.5em;
    }
    @media (min-width: 1366px) {
      margin-left: 2.5em;
    }
    @media (min-width: 1600px) {
      margin-left: 3em;
    }
  }
  .start-form__description {
    margin: 2.5em 0;
    padding-bottom: 2.8em;
  }
  .animated-button {
    width: 100%;
    .button {
      width: 100%;
    }
  }
  .start-form__info-box {
    padding-top: 1em;
    p {
      margin-top: 0;
      margin-bottom: 0.75em;
    }
  }
}

