.uk-modal-body {
  padding-top: 2.5em;
  padding-bottom: 2.5em;
  @media (min-width: 640px)  {
    padding-top: 3em;
    padding-bottom: 3em;
  }
}

.modal-service-form_wrap {
  display: block;
}
.modal-service-form_callback {
  display: none;
}